@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>新闻管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="hidden-xs" id="roleTableToolbar" role="group">
                            @if(shiro.hasPermission("/news/edit")){
                            <#button name="修改" icon="fa-edit" clickFun="News.openEdit()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/news/removeNews")){
                            <#button name="删除" icon="fa-remove" clickFun="News.removeNews()" space="true"/>
                            @}
                            <#button name="刷新" icon="fa-remove" clickFun="News.refresh()" space="true"/>
                        </div>
                        <#table id="newsTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/news/news.js"></script>
@}
